﻿/*!
 * スタイル
 */

@charset "UTF-8";


body {
}

#page-home {
    text-align: center;
    padding: 200px 0 0 0;
    display: flex;
    flex-direction:column;
    align-items:center;
}
h1 {
}
#settings {
    display: block;
    width: 300px;
    margin-top: 100px;
    border: 1px solid;
    height:45px;
    line-height:45px;
}
#input {
    display: block;
    width: 300px;
    margin-top: 50px;
    border: 1px solid;
    height: 45px;
    line-height: 45px;
}
#message {
    margin-top: 15px;
    margin-bottom: 100px;
}