﻿/*!
 * スタイル
 */

@charset "UTF-8";
#page-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #page-input > div {
        width: 700px;
        border-bottom: 1px solid #808080;
        padding-top: 40px;
        padding-bottom: 40px;
    }
#shoptable {
    width: 100%;
}
th{text-align:center;}
h3 {
    font-weight: bold;
}
h4 {
    padding-top: 25px;
}
.self_evaluate {
    min-width:300px;
    margin:15px;
}
th {
    background-color: rgba(119, 119, 119, 0.1);
}
.table-incentive {
    border-collapse:collapse;
}
    .table-incentive th, .table-incentive td {
        border: solid 1px rgba(0,0,0,0.3);
        min-width: 150px;
        padding: 5px 4px;
        text-align:center;
    }
    .table-incentive tr {
        height:50px;
        
    }
    .table-incentive th {
        text-align: center;
    }

input{
    width:100%;
}
td div{
    display:flex;
    flex-direction:column;
    align-items:center;
}
label {
    margin-bottom:0px !important;
}
.calc-tmp-result{
    width:100%;
    text-align:right;
}