﻿/*!
 * スタイル
 */

@charset "UTF-8";
#page-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-settings > div {
        width: 700px;
        border-bottom: 1px solid #808080;
        padding-top: 40px;
        padding-bottom: 40px;
    }

#page-settings table {
    width: 100%;
}
th {
    text-align: center;
    background-color: rgba(119, 119, 119, 0.1);
    border: 1px solid #808080;
}

td {
    text-align: center;
    border: 1px solid #808080;
}

h3 {
    font-weight: bold;
}

h4 {
    padding-top: 25px;
}

label {
    margin-bottom: 0px !important;
}

.save_button_wrapper {
    margin-top: 10px;
    text-align: center;
}

.add_button_wrapper {
    margin: 10px 0 10px 0;
}

#modal-previewStaff table {
    width: unset;
}

#modal-previewStaff th {
    text-align: left;
    background-color: rgba(119, 119, 119, 0.1);
    border: 1px solid #808080;
}

#modal-previewStaff td {
    text-align: left;
    border: 1px solid #808080;
}

#furi-ritu, #hakama-ritu, #F_INCENTIVE_show, #F_SELF_EVALUATEF {
    text-align: left;
    padding-right: 25px;
}

