﻿/*!
 * スタイル
 */

@charset "UTF-8";

/*-------------------------shop-------------------------------*/

#popup_shop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#popupsub_shop {
    margin: 100px auto;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;
}

#popup_search_panel_shop {
    height: 100%;
}

#popup_search_result_shop {
    margin: 15px 0 0 0;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 70%;
}

#popup_search_erorr_message_shop {
    display: none;
    color: red;
}

#popup_shop_table {
    white-space: nowrap;
}

    #popup_shop_table th {
        padding-left: 15px;
    }

#popup_search_shop {
    width: 200px;
}


/*-------------------------staff-------------------------------*/

#popup_staff {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#popupsub_staff {
    margin: 100px auto;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;
}

#popup_search_panel_staff {
    height: 100%;
}

#popup_search_result_staff {
    margin: 15px 0 0 0;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 70%;
}

#popup_search_erorr_message_staff {
    display: none;
    color: red;
}

#popup_staff_table {
    white-space: nowrap;
}

    #popup_staff_table th {
        padding-left: 15px;
    }

#popup_search_staff {
    width: 200px;
}

/*-------------------------position-------------------------------*/

#popup_position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#popupsub_position {
    margin: 100px auto;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;
}

#popup_search_panel_position {
    height: 100%;
}

#popup_search_result_position {
    margin: 15px 0 0 0;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 70%;
}

#popup_search_erorr_message_position {
    display: none;
    color: red;
}

#popup_position_table {
    white-space: nowrap;
}

    #popup_position_table th {
        padding-left: 15px;
    }

#popup_search_position {
    width: 200px;
}

/*-------------------------self_evaluate-------------------------------*/

#popup_self_evaluate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

#popupsub_self_evaluate {
    margin: 100px auto;
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 15px;
}

#popup_search_panel_self_evaluate {
    height: 100%;
}

#popup_search_result_self_evaluate {
    margin: 15px 0 0 0;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 70%;
}

#popup_search_erorr_message_self_evaluate {
    display: none;
    color: red;
}

#popup_self_evaluate_table {
    white-space: nowrap;
}

    #popup_self_evaluate_table th {
        padding-left: 15px;
    }

#popup_search_self_evaluate {
    width: 200px;
}
