﻿@charset "utf-8";
/*
Theme Name: PARROTLET
Theme URI: https://lqd.jp/wp/theme_light.html
Description: PARROTLET
Author: PARROTLET Ltd.
Author URI: https://lqd.jp/wp/
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-header, custom-menu, featured-images, threaded-comments, translation-ready
Text Domain: parrotlet
Version: 0.0.0
*/

/* ------------------------------------
// common
------------------------------------ */
body {
    color: #333333;
    font-size: 16px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Helvetica, Sans-Serif;
    line-height: 1.5;
}

.wrapper {
    overflow: hidden;
}

a {
    color: #00aeef;
    text-decoration: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

a:hover,
a:active {
    color: #00aeef;
    text-decoration: underline;
}

a:visited {
    color: #00aeef;
    opacity: 0.7;
}

img {
    max-width: 100% !important;
    height: auto !important;
}

iframe {
    max-width: 100%;
}

.none {
    display: none;
}

[class*='col-'] {
    overflow: hidden;
}

.customize-partial-edit-shortcuts-shown [class*='col-'] {
    overflow: visible;
}

.breadcrumb {
    background-color: rgba(119, 119, 119, 0.1);
    border-radius: 0;
    padding: .5em 1em;
    line-height: 1.2;
}
.breadcrumb li {
    overflow: hidden;
}
.breadcrumb li.active {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transform: ellipsis;
    -webkit-transform: ellipsis;
    -o-transform: ellipsis;
    -ms-transform: ellipsis;
}

.rwdwrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.rwdwrap iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.navbar {
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 2px solid #00aeef;
    box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 3px 6px -3px rgba(0, 0, 0, 0.3);
}

.navbar .container {
    padding-left: 0;
}

.navbar-nav a {
    font-size: small;
    display: block;
    padding: .4rem 1rem;
}

.navbar li {
    border-bottom: 1px solid transparent;
}

.nav>.menu-item-has-children>ul,
.nav>.page_item_has_children>ul {
    display: none;
}

.open ul {
    display: block !important;
}

.logo {
    font-size: x-large;
}

.logo img {
    width: auto !important;
    height: 36px !important;
    max-width: initial !important;
}

.logo_text {
    font-size: x-small;
    text-align: right;
}

.navbar-nav .nav-item+.nav-item {
    margin-left: 0;
}

.navbar .current-menu-item,
.navbar .current-menu-parent,
.navbar .current_page_item {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #00aeef;
}

.dropdown-menu {
    padding: 0;
}

blockquote {
    border-left: 2px solid rgba(119, 119, 119, 0.1);
    padding-left: 1em;
}

blockquote:before {
    content: "\e977";
    color: #333;
    font-size: large;
}

.screen-reader-text {
    display: none !important;
}

thead th,
thead td {
    background-color: rgba(119, 119, 119, 0.1);
}

.table-bordered-none,
.table-bordered-none th,
.table-bordered-none td {
    border: 0 none;
}


/* ------------------------------------
// bootstrap
------------------------------------ */


/* navbar-toggle */

.navbar-toggler {
    position: absolute;
    top: -3rem;
    right: .5rem;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border: none;
    background: transparent !important;
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover {
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #555 !important;
    width: 22px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: 10% 10%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -o-transform: rotate(45deg);
    -o-transform-origin: 10% 10%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: 10% 90%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -o-transform: rotate(-45deg);
    -o-transform-origin: 10% 90%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
}

/* Animated “x” icon */

.form-control,
.searchform .btn {
    border-radius: 0;
}

/* carousel */

.carousel-item img {
    width: 100%;
}

.carousel-indicators {
    bottom: -3rem;
}

.carousel-indicators li {
    background-color: #ccc;
    border: 0 none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-top: -2px;
}
.carousel-indicators .active {
    background-color: #00aeef;
}
.carousel-control
.carousel-indicators li {
    margin: 0 .2em !important;
}

/* ------------------------------------
// main
------------------------------------ */

.headline {
    padding: 1rem 0;
}

.headline .ttl,
.headline .subttl {
    vertical-align: top;
    font-size: x-small;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.cover_inner {
    position: relative;
    line-height: 0;
}

.cover video {
    width: 100%;
    height: auto;
}

.main {
    background-color: #00aeef;
    text-align: center;
    line-height: 1.5;
    padding: 1.5em 0;
    color: #fff;
}

.main h3 {
    margin-bottom: 0;
    font-size: x-large;
}

.main h3 a {
    color: #fff;
}

.mainpost {
    margin-top: 3rem;
}

article.card {
    margin-bottom: 2em;
    border: 0 none;
    border-radius: 0;
}

article.card .card-block {
    padding: 0;
}

article.card .card-title {
    font-size: initial;
    font-weight: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 2.2em;
    margin: 0 1rem .5rem 1rem;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    box-orient: vertical;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
    -o-box-orient: vertical;
    -o-line-clamp: 2;
    -ms-box-orient: vertical;
    -ms-line-clamp: 2;
}

article.card .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.2em;
    height: 1.2em;
    margin: .5rem 1rem .5rem 1rem;
}

article.card  a:hover {
    text-decoration: none;
}

article.card  .post_links {
    display: block;
    border: 1px solid rgba(119, 119, 119, 0.1);
}

article.card  .post_links:hover {
    background-color: rgba(119, 119, 119, 0.1);
}

article.card  .post_thumb {
    width: 100%;
    height: 12rem;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
}

article.card  a:hover .post_thumb {
    opacity: 0.8;
}

.post_meta {
    margin-bottom: 1rem;
}

.post_time,
.post_cat {
    font-size: small;
    margin-right: .5em;
    opacity: 0.8;
    color: #333;
}

.post_body {
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.post_body h1,
.post_body h2 {
    font-weight: bold;
    border-bottom: 2px solid rgba(119, 119, 119, 0.1);
    margin-bottom: 2rem;
}

.post_body h1>span,
.post_body h2>span {
    border-bottom: 2px solid #00aeef;
    display: inline-block;
    padding: 1rem 0;
    margin-bottom: -2px;
}

.post_body h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.post_body hr {
    clear: both;
}

.cat_info {
    margin-bottom: 1rem;
}

.cat_info img {
    width: 100%;
}

.ttl {
    font-size: medium;
    font-weight: bold;
    background-color: rgba(119, 119, 119, 0.1);
    border-radius: 0;
    margin-bottom: 1rem;
}

ul.post-categories,
.widget ul,
ul.page-numbers {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

ul.page-numbers {
    padding-left: 0;
    margin-left: -.5em;
    list-style: none;
}

ul.post-categories li {
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
}

ul.page-numbers li {
    display: inline-block;
}

.sidebar {
    background-color: rgba(119, 119, 119, 0.1);
    padding-top: 1rem;
}

.sidebar .widget:first-child .ttl {
    margin-top: 0;
}

.sidebar .widget ul li a {
    padding: .5rem 0;
}

.widget {
    margin-bottom: 2rem;
}

.widget .ttl {
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 1rem;
}

.sidebar .widget .ttl {
    background: transparent;
}

.ttl span {
    display: inline-block;
    padding: .5em 1em;
    border-bottom: 2px solid #00aeef;
}

.widget ul li {
    display: block;
    padding-left: 0;
    border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}

.widget ul li ul {
    border-left: 1px solid #ccc;
    margin-left: 1rem;
}

.widget ul li ul li {
    border-bottom: 0 none;
}

.widget ul li a {
    padding: .2rem;
    display: inline-block;
}

.widget_nav_menu .d-md-block {
    display: block !important;
}

.wrapper>.widget {
    margin-bottom: 0;
}

.sidebar .newpost a {
    display: table;
    width: 100%;
}

.sidebar .newpost a .post_thumb {
    display: table-cell;
    vertical-align: top;
    width: 100px;
}

.sidebar .newpost a .post_thumb span {
    display: block;
    width: 90px;
    height: 60px;
    overflow: hidden;
    background-color: rgba(119, 119, 119, 0.1);
}

.sidebar .newpost a .post_thumb img {
    width: 100%;
    height: auto;
}

.sidebar .newpost a .post_ttl {
    display: table-cell;
    vertical-align: top;
}

ul.post-categories a,
ul.tag a {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
    border: 1px solid rgba(119, 119, 119, 0.1);
    margin: 0 .5rem .5rem 0;
}

.pagination li>a {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
    border: 1px solid rgba(119, 119, 119, 0.1);
    margin: 0 .5rem .5rem 0;
}

ul.post-categories a:hover,
ul.tag a:hover {
    background-color: rgba(119, 119, 119, 0.1);
}

.page-numbers a:hover,
.widget a:hover,
.pagination li>a:focus, .pagination li>a:hover {
    background-color: rgba(119, 119, 119, 0.1);
}

.share {
    margin-bottom: 1rem;
}

.share a {
    display: inline-block;
    padding: .5em 1em;
    color: #fff !important;
    font-size: small;
    margin: 0 .1em .1em 0;
    opacity: 0.8;
}

.share a:hover {
    opacity: 1;
    color: #fff !important;
    text-decoration: none;
}

.share_facebook {
    background: #39599F;
}

.share_twitter {
    background: #45B0E3;
}

.share_google {
    background: #DB4437;
}

.share_hatena {
    background: #00A4DE;
}

.headline .sns {
    text-align: right;
}

.headline .sns a {
    font-size: large;
    display: inline-block;
    margin: 0 .2rem;
}

.foot .sns {
    text-align: center;
    padding: 4em 0;
}

.foot .sns a {
    font-size: xx-large;
    display: inline-block;
    margin: 0 .5rem;
}

.detail {
    padding-top: 3rem;
}

.ttl_h1 {
    margin-bottom: 1rem;
}

.archive .ttl_h1,
.search .ttl_h1 {
    border-bottom: 1px solid rgba(119, 119, 119, 0.1);
    padding-bottom: 1rem;
}

.clearfix,
.post_body {
    zoom: 1;
}

.clearfix:after,
.post_body:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.pagination li>a,
.pagination li>span {
    border-radius: 0;
    background-color: transparent;
}

.page-numbers {
    clear: both;
    text-align: center;
}

.page-numbers a {
    display: inline-block;
    background-color: transparent;
    border: solid 1px rgba(119, 119, 119, 0.1);
    padding: .5em 8px;
    margin: 2px;
    text-decoration: none;
}

span.current {
    display: inline-block;
    background: #fff;
    border: solid 1px rgba(119, 119, 119, 0.1);
    padding: .5em 8px;
    margin: 2px;
    text-decoration: none;
    background-color: rgba(119, 119, 119, 0.1);
}

.pagetop {
    text-align: center;
    padding-bottom: 1em;
    font-size: x-large;
}

footer {
    background-color: rgba(119, 119, 119, 0.1);
    padding: 2em 0;
}

.copy {
    padding: 2em;
    text-align: center;
    font-size: small;
}

.eg {
    background-color: rgba(119, 119, 119, 0.1);
    padding: 2rem 1rem;
    text-align: center;
    font-weight: bold;
}

.sidebar .eg {
    width: 100%;
    height: 250px;
    border: 1px solid rgba(119, 119, 119, 0.1);
}


/* ------------------------------------
// wp
------------------------------------ */

.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.alignright {
    float: right;
    margin-left: 1.5em !important;
    margin-bottom: 1em !important;
}

.alignleft {
    float: left;
    margin-right: 1.5em !important;
    margin-bottom: 1em !important;
}

.attachment-post-thumbnail,
.ttl_h1+img {
    margin-bottom: 1em;
}

.attachment-post-thumbnail {
    width: 100%;
}

.wp-caption,
.wp-caption-text,
.gallery-caption {
    font-size: small;
    max-width: 100%;
    height: auto;
}

.sticky article.card .card-block {
    background: #f0ffc8;
}

.bypostauthor {
    font-weight: bold;
}

.form-allowed-tags {
    font-size: small;
}

.searchform>div {
    text-align: center;
}

.searchform input[type="text"] {
    width: calc(100% - 6rem);
    float: left;
}

.searchform input[type="submit"] {
    width: 5rem;
    float: none;
    clear: both;
}

#cse-search-box input[name="q"] {
    width: 74%;
}


/* ------------------------------------
// wpp
------------------------------------ */

.popular-posts .wpp-thumbnail {
    margin-right: 10px;
    max-width: initial !important;
    float: none;
}

.popular-posts .wpp-list li {
    display: table;
    width: 100%;
}

.popular-posts .wpp-list li a {
    display: table-cell;
    vertical-align: top;
}

.popular-posts .wpp-list li .wpp-post-title {
    width: 100%;
}

.popular-posts .wpp-list li .post-stats,
.popular-posts .wpp-list li .wpp-excerpt {
    display: table-cell;
    vertical-align: top;
}

.wpp-no-data {
    display: none;
}


/* ------------------------------------
// @media
------------------------------------ */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    article.card .post_thumb {
        height: 10rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    article.card .post_thumb {
        height: 7rem;
    }
    article.card .card-title {
        height: 3.4em;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    article.card .post_thumb {
        height: 8rem;
    }
    .logo_text {
        text-align: left;
    }
    .navbar-nav {
        width: 100%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .alignright {
        float: none;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
    .alignleft {
        float: none;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
    }
    .headline .logo_text {
        width: 88%;
    }
    .navbar .menu-item {
        float: none;
    }
    .navbar .menu-item a {
        border-bottom: 1px solid rgba(119, 119, 119, 0.1);
        padding: .5rem 0;
    }
    .navbar .container {
        padding: 0 .9375rem;
    }
    .main h3 {
        font-size: large;
    }
    .breadcrumb {
        font-size: small;
    }
    .share a {
        font-size: x-small;
        padding: .5em .7em;
    }
    article.card .post_thumb {
        height: 10rem;
    }
    article.card .card-title {
        height: 2.3em;
    }
    h1 {
        font-size: 2rem;
    }
    h2,
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    .logo_text {
        text-align: left;
    }
}
/* inoue add */
.logined, .foot, .sns {
    display: none !important;
}

/* button */
.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

    .draw-border::before, .draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
    }

    .draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
    }

    .draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
    }

    .draw-border:hover {
        color: #E80C7A;
    }

        .draw-border:hover::before, .draw-border:hover::after {
            border-color: #E80C7A;
            transition: border-color 0s, width 0.25s, height 0.25s;
            width: 100%;
            height: 100%;
        }

        .draw-border:hover::before {
            transition-delay: 0s, 0s, 0.25s;
        }

        .draw-border:hover::after {
            transition-delay: 0s, 0.25s, 0s;
        }

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

    .btn:focus {
        outline: 2px dotted #FF0DFF;
    }

/* login */
#loginform {
    width: 600px;
    margin: 30px auto;
}
.login-username, .login-password {
    display: flex;
    flex-direction:row;
}
    .login-username > label, .login-username > input,
    .login-password > label, .login-password > input {
        display: block;
        width:50%;
    }
.login-remember,.login-submit {
    text-align: center;
}




#wp-submit
{

}